$primary-color: #444;
$secondary-color: #e7e2e2;
$button-color: #f2f2f2;
$button-hover-color: #ddd;

main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px;
} 

.calculator{
	background-color: $primary-color;
	padding: 24px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 320px;
	&>.display{
		height: 60px;
		padding: 10px;
		background-color: $secondary-color;
		border-radius: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-content: flex-end;
		font-size: 20px;
	}
	.buttons{
		display: grid;
		gap: 12px;
		&--small{
			grid-template-columns: repeat(3, 1fr);
		}
		&--big{
			grid-template-columns: repeat(2, 1fr);
		}
		button{
			background-color: $button-color;
			color: $primary-color;
			font-size: 24px;
			cursor: pointer;
			transition: background-color 0.7s;
			&:hover{
				background-color: $button-hover-color;
			}
		}
	}
}
